header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

header > *,
header >:last-child {
	padding-top: 0;
	margin-bottom: 1rem;
}

video {
	margin-bottom: 0;
	width:  100%;
}

.input-section {
	display: flex;
	flex-direction: column;
}
