.container {
	position: relative;
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 0;
	width: 100%;

	& > * {
		margin-right: 0.5em;

		&:last-child {
			margin-right: 0;
		}
	}

	&.seekDisabled {
		.time,
		.progressbarWrapper {
			visibility: hidden;
		}
	}

	.time {
		color: #ffffff;
		white-space: nowrap;
		font-size: 0.875em;
		flex-shrink: 0;
	}

	.progressbarWrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		flex: 1 1 auto;
		min-width: 0;
		width: 100%;
		padding: 0.25em 0;

		cursor: pointer;
	}

	.progressbarContainer {
		position: relative;
		width: 100%;
		height: 0.25em;
		background: rgba(255, 255, 255, 0.3);
	}

	.progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background: rgba(255, 255, 255, 1);
	}
}
