.container {
	position: relative;
	display: flex;
	align-items: center;
}

.container > * {
	margin-right: 1em;
}

.container > *:last-child {
	margin-right: 0;
}

.time {
	white-space: nowrap;
}

.time.live {
	cursor: pointer;
	color: #bb5868;
}

.progressbarContainer {
	position: relative;
	width: 100%;
	height: 0.5em;
	border-radius: 0.5em;
	background: rgba(20, 20, 20, 0.6);
	cursor: pointer;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: 0.5em;
	background: rgba(30, 129, 160, 0.8);
}
