.container {
	position: relative;

	width: 1.5em;
	height: 1.5em;

	cursor: pointer;
}
.container svg {
	width: 100%;
	height: 100%;
	fill: rgba(255, 255, 255, 0.8);
}
.container svg:hover {
	fill: rgba(255, 255, 255, 1);
}

.list {
	list-style: none;
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5em;
	white-space: nowrap;
	background: rgba(20, 20, 20, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.2);

	display: none;
}

.list.open {
	display:  block;
}

.list li {
	margin: 0;
}

.list input {
	display: none;
	margin-right: 0.25em;
}

.list label {
	display: block;
	cursor: pointer;
	padding: 0.25em 0.5em;
	margin: 0 -0.5em;
}

.list label span {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	display: block;
}

.list label:hover span {
	color: rgb(100, 180, 255);
}

.list :checked + span {
	color: rgb(30, 129, 160);
}
