.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	opacity: 1;
	transition: opacity 0.2s;
	outline: none;

	font-family: Helvetica, Arial;
	line-height: 1.5;
}

.container.hidden {
	cursor: none;
	opacity: 0;
}

.bottomContainer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 16px);
	box-sizing: content-box;

	padding: 8px;

	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.controls {
	display: flex;
	margin-bottom: 0.5em;
}

.controls > * {
	margin-right: 0.5em;
}

.controls > *:last-child {
	margin-right: 0;
}

.divider {
	flex: 1;
}
