.container {
	position: absolute;
	top: 0;
	left: 0;

	background: #111111;
	color:  #ffffff;

	border:  solid 1px #cccccc;
	border-radius: 0.2rem;
	padding:  0.2rem;

	font-size:  0.8rem;
}

.container:hover {
	background: #222222;
}

.container a {
	color:  inherit;
	text-decoration: none;

	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
}

.logo {
	height:  1rem;
	margin-bottom: 0;
	margin-left:  0.5rem;
}