.castOverlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000;

  pointer-events: none;

  svg {
    width: 33%;
    height: 33%;

    fill: #ffffff;
  }
}