.container {
	width: 1.5em;
	height: 1.5em;

	cursor: pointer;
}
.container svg {
	width: 100%;
	height: 100%;
	fill: rgba(255, 255, 255, 0.8);
}
.container svg:hover {
	fill: rgba(255, 255, 255, 1);
}